#main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#reg{
    
     display: flex;
     flex-direction: column;
      padding:5px;
}
#whole{
    background:linear-gradient(red,yellow);
    border: 2px solid black;
    padding: 4%;
}
.label{
    font-size: 25px;
}
